<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TodoLists</title>
  <script src="/js/todolists.js"></script>
</head>

<body>
  <h2>Welcome USERNAME</h2>
  <form action="/logout" method="post">
    <button type="submit">logout</button>
  </form>
  <div id="todolists">TODOLISTS</div>
  <form action="" method="post">
    Title :
    <input type="text" name="title" required> Description :
    <input type="text" name="description" placeholder="optional">
    <input type="submit" value="Create List">
  </form>
</body>

</html>